<h2>All Super Powers</h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <%= link_to power.name, power_path(power) %>
      Count: <%= power.heroines.count%>
      <br>
      Description: <%= power.description %>
    </li>
  <% end %>
</ul>

